@{
    ViewData["Title"] = "Sobre o Autor";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvedor Web .NET, com 16 anos de experiência.</p>
<p>Busca acompanhar o mercado com novas tecnologias e mantem o conhecimento sobre os frameworks que trabalha.</p>
<hr />
<p>Valores: Respeito, Educação e Paciência!</p>
