@model Adm_Agenda.Models.mdAgenda

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>mdAgenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAgenda" />
            <div class="form-group">
                <label asp-for="idContato" class="control-label"></label>
                <input asp-for="idContato" class="form-control" />
                <span asp-validation-for="idContato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipo" class="control-label"></label>
                <input asp-for="idTipo" class="form-control" />
                <span asp-validation-for="idTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtCompromisso" class="control-label"></label>
                <input asp-for="dtCompromisso" class="form-control" />
                <span asp-validation-for="dtCompromisso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
